body {
    background-color: white;
}

.titulo {
    color: rgb(80, 11, 95);
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h1 {
    color: rgb(80, 11, 95);
    font-size: 45px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(80, 11, 95);
    font-size: 40px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.detran {
    text-align: center;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    text-align: justify;
    margin: 80px;
}

nav a {
    color: white;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}

.bandeira {
    width: 5%;
    margin-right: 220px;
}

nav {
    width: 100%;
    display: flex;
    background-color: rgb(80, 11, 95);
    z-index: 99;
}

footer {
    background-color: rgb(80, 11, 95);
    width: 100%;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
}

.rodapé {
    color: white;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.github {
    color: white;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    text-align: center;
}

.mapa {
    text-align: center;
}
